<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products grid</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Products grid</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<% @products.each do |product|%>
    <div class="row">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                         <%= image_tag product.image , size: "150x200"%>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                   $<%= product.price  %>
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"><%= product.product_name %></a>



                        <div class="small m-t-xs">
                             <%= product.description %>
                        </div>
                        <div class="m-t text-righ">

                            <a href="/commerce/product_detail/<%= product.id %>" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>

                            <a href="/commerce/add_to_cart/<%= product.id %>" class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%end%>
        <!-- <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box active">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 -->




    </div>
    <!-- <div class="row">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
       <!--  <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    $10
                                </span>
                        <small class="text-muted">Category</small>
                        <a href="#" class="product-name"> Product</a>



                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->




</div>
